<!DOCTYPE html>
<html lang="en">
<head>
 
   <% include partials/header.ejs %>
</head>
<body>
    <h1>About</h1>
    <p><%= aboutcontent %></p>
</body>

<footer>
    <% include partials/footer.ejs %>
</footer>
</html>


